button:focus {
	outline: 0;
}

.site__menu-button {
	width: 3.5rem;
	height: 3.5rem;
	@apply .flex;
	@apply .flex-wrap;
	@apply .justify-center;
	@apply .items-center;
	@apply .border-2;
	@apply .border-milk;
	@apply .relative;

	.site__menu-line {
	    @apply .block;
	    @apply w-6;
	    @apply h-1;
	    @apply .bg-milk;
	    @apply .rounded;
		@apply .absolute;
	}

	.site__menu-line:first-child {
		transform: translateY(-0.3rem);
	}
	.site__menu-line:last-child {
		transform: translateY(0.3rem);
	}
}

.site__menu-button,
.site__menu-line {
	transition: all 0.5s ease-out;
}

.menu-open .site__menu-line:first-child,
.menu-open .site__menu-line:last-child  {
	transform: translateY(0);
}

.menu-open .site__menu-line:first-child {
	transform: rotate(45deg);
}

.menu-open .site__menu-line:last-child {
	transform: rotate(-45deg);
}

.site__button {
	border-bottom-right-radius: 25px;
	min-width: 184px;
	@apply .tracking-wide;
	@apply .inline-block;
	@apply .font-bold;
	@apply .bg-black;
	@apply .text-milk;
	@apply .text-center;
	@apply .px-8;
	@apply .py-4;
	@apply .mt-8;
	@apply .relative;
	@apply .self-start;
}

.site__button:not(.rotator__button) {
	transition: all 0.3s ease-out;
}

.site__button,
.site__button::before,
.site__button:after {
	@apply .overflow-hidden;
}

.site__button span {
	@apply .inline-block;
	@apply .relative;
	@apply .z-10;
}

.site__button::before {
	content: '';
	height: 5px;
	width: 5px;
	transform: scale(0);
	border-radius: 50%;
	@apply .absolute;
	@apply .top-0;
	@apply .bottom-0;
	@apply .left-0;
	@apply .right-0;
	@apply .m-auto;
	@apply .bg-mustard;
	transition: all 0.6s ease-in;
}

.site__button:hover::before {
	transform: scale(150);
	transition: all 0.8s ease-out;
}

.site__button-mustard {
	@apply .bg-mustard;
	@apply .text-milk;
}

.site__button-orange {
	@apply .bg-orange;
	@apply .text-milk;
}

.site__button-form {
	background-color: transparent;
	@apply .mt-0;
	@apply .text-charcoal;
	@apply .border;
	@apply .border-charcoal;
}

@media screen and (min-width: 1200px) {
	.menu-open {
		.site__menu-button {
			@apply .border-charcoalDarker;
		}

		.site__menu-line {
			@apply .bg-charcoalDarker;
		}
	}
}